/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
 .front_page div {padding: 0px; margin:120px; height:20px;}
 .front_page div:hover{opacity:0.8; transition: all 0.4s ease-out;}
 .bold_p{font-size:1.5em; line-height:1.5em; font-family:Georgia,serif;}
 .title{margin: 30px 0 -5px 0; padding: 0 0 5px 5px;}
 .title_underline{border-width: 6px; border-color: black; margin-bottom: 20px;}
 
 .button1 {color:white;}
 .button1:active{background-color:white; color:red;}
 
 #backtotop {position: fixed; left:10px; bottom:50px; z-index:100;}



 




/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		h1{font-size:1.5em; line-height:1em;}
		.bold_p{font-size:1em;}
		.title_underline{border-width:3px;}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/