body{
	font-family: "ff-dagny-web-pro", sans-serif; 
	font-weight:400;
	background: #fff;
}
*{
		font-family: 'ff-dagny-web-pro',sans-serif;

}

em{
	border-bottom: 1px dashed #ccc;
}
a{
	text-decoration:none;
	color: #000;
}

a:hover{
	border-bottom: 1px dashed #ccc;
}

#accordion, #accordion div, #accordion h1, #accordion h3{

	outline:none;
}
#references{
	background:#fff;
	padding-left: 50px;
	font-family: 'ff-dagny-web-pro',sans-serif;
	font-size: 14px;
	font-style: normal;

}
#references h2{
	font-family: 'rooney-web',sans-serif !important;
}
#references h3{
	font-family: 'ff-dagny-web-pro',sans-serif !important;
	font-style: normal;
}

.bottom .pure-u-7-12, .bottom .pure-u-5-12{
 padding-top: 12px;
}

.bottom .pure-u-7-12 ul, .bottom .pure-u-5-12 ul{
 padding-top: 24px !important;
}

.bottom .pure-u-7-12 .padding-box{
	padding-left: 0;
}



.clients{
	font-weight: 100;
	margin-top: 14px;
}
#references section{
	padding-left: 60px;
	padding-top: 15px;
	position:relative;
}
#references img{
	display: inline-block;
	position: absolute;
	width: 50px;
	top:14px;
	left:0px;
	box-shadow: 1px 1px 1px #ccc;
	border-radius: 25px;
	border: 1px white solid;
}

#references h2, #references h3{
	display: block;
	font-size: 16px;
	font-weight: 400;
}
#references h2{
	font-weight: 700;
	font-family: 'ff-dagny-web-pro',sans-serif;
}

#references h3{
	text-transform: capitalize;
	margin-top: -3px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'ff-dagny-web-pro',sans-serif;

}

#accordion{
	margin-bottom: 20px;
	position: relative;
}
#accordion h1{
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}
#accordion>div{
	background: #fff;
	padding: 10px;
	height:auto;

}

#workExp .pure-u-7-12{
	padding-top: 11px;
}

.padding-box {
        padding: 24px;
    }

.container{
	max-width: 1200px;
	margin: 0 auto;
}

article h2, article h3, article h4{
	margin: 2px 0;
	font-family: "rooney-web",sans-serif !important;
	font-weight: 500;
	/*font-style: italic;*/
}
article h2{
	font-size: 22px;


}
article h3{
	margin-top: 2px;
	font-size: 14px;
	text-transform: uppercase;
}

article h4{
	font-size: 14px;
}






ul{
	list-style:none;
	text-indent: 0;
	padding:0;
	margin: 0px;
	
}



.buttons{
	display: block;
	border:1px #333 solid;
	display: inline-block;
	margin: 10px auto;
	padding:5px 10px;
	transition:0.3s all;
	font-family: "ff-dagny-web-pro" !important;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
}

.buttons:hover{
	text-decoration: none;
	border-style:solid;
	border-color:#333;
	background: #ccc;
	cursor: pointer;
}
header h2{
	display:inline-block;
	margin: 0px;
	text-align: left;

}
#social_media{
	text-indent: 0;
	padding:0;
	margin:0;
}
#social_media a:hover{
	border:none;
}
#social_media li{
	display: inline-block;
	position: relative;
	margin-right: 5px;
	padding: 0;
	width:36px;
	height:36px;
	background:#333;
	border-radius: 18px;
	transition:0.3s all;
	background-image: url(../_images/social_sprite_sm.png);
}


#social_media li:hover{
	background-color:#aaa;
	



}
#gh{
	background-position: 2px 7px !important;
	background-repeat: repeat-x !important;

}
#twitter{
	background-position: 72px 4px !important;
}

#linkedin{
	background-position: 36px !important;
}

.experience article{
	background: red!important;
}
header img{
	width:120px;
	margin: 0 auto;
	border-radius: 25px;
	border: 1px white solid;
	box-shadow: 2px 2px 2px #ccc;
	border-radius: 60px;
}
.left article>h2:nth-child(2n){
	margin-top: 10px;
	margin-bottom: -5px;
}
/*
header{
	min-width: 200px;
}*/

.secondary{
	margin-top: 0px!important;
}
.left article>h2>h3{

	margin-bottom: -5px;
	letter-spacing: 1px;
}


.subject{
	display:block;
	font-size: 32px;
	font-family: "rooney-sans",sans-serif !important;
	font-weight: 700;
	font-style: normal;
	border-bottom: 1px solid #333;
	padding-bottom: 2px;
	margin: 10px inherit;
}








header{
	text-align:center;
}

header p{
}

h3{
	font-family: "rooney-web",sans-serif;
	/*font-style: italic;*/
	font-weight:400;

}

img {
	max-width: 100%;
	height: auto;
	margin:0 auto;
}


#workExp article:nth-child(n+3){
/*	padding:10px;
	margin: 10px 0;*/
}
#workExp article:nth-child(n+3):before{
	content: " ";
}

#workExp article:nth-child(n+3):after{
	content: " ";
	display: block;
	background: #ccc;
	width:100%;
	height: 1px;
	margin: 20px auto;
}

#workExp article:last-child:after{
	content: " ";
	background: white;
}
.expanded{
	border: 1px solid #ff4136 !important;
	color:#ff4136;
	opacity: 0.5;
}

.expanded:hover{
	background: #fff;
	opacity:1;

}

#name{
	font-family: "rooney-web",sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 28px;
	display: block;
	font-style: italic;
}
header p{
	padding: 0;
	margin-top: 0;
}
.pure-u-5-12 h3, .pure-u-5-12 h4{
	font-size: 16px;
	font-family: 'ff-dagny-web-pro',sans-serif !important;
		font-weight: 100 !important;

 text-transform: none;}

@media screen and (max-width: 50em) {
.pure-u-1-2 {
    width: 100%;
	
 }
.bottom .pure-u-7-12 .padding-box{
	padding-left: 8px;
}

.padding-box{
	padding:8px;
}
}